:root {
    --body-background-color:  #d6e3f3;
    --body-text-color: #244f7e;
    --card-background-color: #a9c6e6;
    --nav-background-color: #3d7fc7;
    --nav-border-bottom-color: #89b1dd;
    --nav-current-border-bottom-color: #a9c6e6;
    --card-border-color: #015450;
    --down-border-left-color: #d61537;
    --down-background-color: #f49baa;
    --degraded-border-left-color: #d61537;
    --up-border-left-color: #387bc4;
    --tag-color: #002b29;
    --tag-up-background-color: #387bc4;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
  }
  .container{
    width: 80vw !important;
    max-width: 1920px !important;
  }
  article.up{
    background-position: bottom;
  }
  
  article.graph{
    background-blend-mode: color-burn;
    width: 225px;
    height: 225px;
    overflow-wrap: break-word;
  }

  .live-status{
  
    display:flex;
    flex-wrap: wrap;
    height: 20vh;
    justify-content: space-evenly;
  }
  article {
    background-size: cover !important;
  /*   color: darkcyan !important; */
  /*   mix-blend-mode:difference !important; */
  
  }
  .up, .down{
    display:flex !important;
    align-items: flex-end !important;
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
  }
  .up{
     color: darkcyan !important; 
  }
  footer{
    position: absolute;
    bottom: 0px;
    width:100%;
  }
  
